#fh5co-footer {
    padding: 7em 0;
    clear: both;
}

#fh5co-footer .fh5co-footer-links {
    padding: 0;
    margin: 0;
  }
  @media screen and (max-width: 768px) {
    #fh5co-footer .fh5co-footer-links {
      margin-bottom: 30px;
    }
  }
  #fh5co-footer .fh5co-footer-links li {
    padding: 0;
    margin: 0;
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
  }
  #fh5co-footer .fh5co-footer-links li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
  }
  #fh5co-footer .fh5co-footer-links li a:hover {
    text-decoration: underline;
    color: #ea272d;
  }
  #fh5co-footer .fh5co-widget {
    margin-bottom: 30px;
  }
  @media screen and (max-width: 768px) {
    #fh5co-footer .fh5co-widget {
      text-align: left;
    }
  }
  #fh5co-footer .fh5co-widget h4 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 1px;
  }
  #fh5co-footer .copyright .block {
    display: block;
  }

  .fh5co-section {
    padding: 7em 0;
  }
  @media screen and (max-width: 480px) {
    .fh5co-section {
      padding: 3em 0;
    }
  }
  .fh5co-section p {
    color: rgba(255, 255, 255, 0.3);
    font-size: 18px;
    line-height: 1.5;
  }