#showerIconEvents .stats {
    margin-top: 7%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    color: white;
}

#showerIconEvents .stats img {
    height: 30%;
    width: 30%;
}

#showerIconEvents .stats div {
    margin-bottom: 10%;
    padding: 1rem 0;
}

#showerIconEvents .stats li {
    list-style: none;
    line-height: 2;
}

#showerIconEvents .stats li.stats-title {
    font-size: 1.5rem;
}

#showerIconEvents .stats div:hover {
    color: #FBF9A7;
}

#showerIconEvents .stats img:hover {
    height: 40%;
    width: 40%;
    filter: drop-shadow(1px 1px 20px #FBF9A7);
    cursor: pointer;
}
